.vs/
STBEverywhere_Back_SharedModels/bin/
STBEverywhere_Back_SharedModels/obj/
STBEverywhere_back_APICarte/bin/
STBEverywhere_back_APICarte/obj/
STBEverywhere_back_APIClient/bin/
STBEverywhere_back_APIClient/obj/
STBEverywhere_back_APICompte/bin/
STBEverywhere_back_APICompte/obj/
STBEverywhere_back__APIChequier/bin/
STBEverywhere_back_APIChequier/obj/
STBEverywhere_back_APIChequier/bin
STBEverywhere_ApiGateway/bin/
STBEverywhere_ApiGateway/obj/
STBEverywhere_ApiGateway/obj/Debug/net8.0/CombinedComponentSchema.json
STBEverywhere_ApiGateway/obj/Debug/net8.0/STBEverywhere_ApiGateway.AssemblyInfo.cs
STBEverywhere_ApiGateway/obj/Debug/net8.0/STBEverywhere_ApiGateway.AssemblyInfoInputs.cache
STBEverywhere_ApiGateway/obj/Debug/net8.0/STBEverywhere_ApiGateway.GeneratedMSBuildEditorConfig.editorconfig
STBEverywhere_ApiGateway/obj/Debug/net8.0/STBEverywhere_ApiGateway.assets.cache
STBEverywhere_ApiGateway/obj/Debug/net8.0/STBEverywhere_ApiGateway.csproj.AssemblyReference.cache
STBEverywhere_ApiGateway/obj/STBEverywhere_ApiGateway.csproj.nuget.dgspec.json
STBEverywhere_ApiGateway/obj/STBEverywhere_ApiGateway.csproj.nuget.g.props
STBEverywhere_ApiGateway/obj/STBEverywhere_ApiGateway.csproj.nuget.g.targets
STBEverywhere_ApiGateway/obj/project.assets.json
STBEverywhere_ApiGateway/obj/project.nuget.cache
STBEverywheres_Back_ApiAuth/bin/
STBEverywheres_Back_ApiAuth/obj/
STBEverywheres_Back_ApiAgent/bin/
STBEverywheres_Back_ApiAgent/obj/
STBEverywheres_Back_ApiAgence/bin/
STBEverywheres_Back_ApiAgence/obj/
STBEverywhere_ApiAgence/obj/
STBEverywhere_back_APIAgent/bin/
STBEverywhere_back_APIAgent/obj/
STBEverywhere_ApiAgence/bin/
STBEverywhere_back_APIAgent/bin/Debug/net8.0/STBEverywhere_Back_SharedModels.dll





