.vs/
STBEverywhere_Back_SharedModels/bin/
STBEverywhere_Back_SharedModels/obj/
STBEverywhere_back_APICarte/bin/
STBEverywhere_back_APICarte/obj/
STBEverywhere_back_APIClient/bin/
STBEverywhere_back_APIClient/obj/
STBEverywhere_back_APICompte/bin/
STBEverywhere_back_APICompte/obj/
STBEverywhere_back__APIChequier/bin/
STBEverywhere_back_APIChequier/obj/
STBEverywhere_back_APIChequier/bin
STBEverywhere_ApiGateway/bin/
STBEverywhere_ApiGateway/obj/
STBEverywhere_ApiGateway/obj


